[ ca ]
default_ca = CA_default

[ CA_default ]
dir		= .
crl_dir		= $dir/crl
database	= $dir/index.txt
private_key	= $dir/ca.key
serial		= $dir/serial
crlnumber	= $dir/crlnumber

# Set to 'no' to allow creation of several certs with same subject
unique_subject	= no
new_certs_dir   = $dir

certificate	= $dir/ca.crt
crl		= $dir/crl.pem
x509_extensions	= v3_ca

crl_extensions	= crl_ext
default_days    = 1
default_crl_days= 1
default_md      = sha256
policy		= policy_match

# For the CA policy
[ policy_match ]
countryName		 = optional
stateOrProvinceName	 = optional
organizationName	 = optional
organizationalUnitName	 = optional
commonName		 = supplied
emailAddress		 = optional

[ req ]
distinguished_name = req_dn
req_extensions = v3_req
# disable prompting of certificate fields and just takes values from the config file directly
prompt = no

[ req_dn ]
C = US
ST = VA
L = Somewhere
O = RedHat
OU = OpenShift QE
CN = mtls

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = example.com
DNS.2 = *.example.com

[ v3_ca ]
# Extensions for a typical CA
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical,CA:true
crlDistributionPoints = URI:http://hello-pod.mycrl.svc/crl/root.crl

[ signing_req ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment

# CRL exstensions
[ crl_ext ]
authorityKeyIdentifier=keyid:always
